This is a quote show page

<div class="quotes">
	<div class="quote" id="<%=quote.id%>">
		<div>Content: <%= quote.content %></div>
		<%= link_to quote.author.name, quote_search_path(q: {author_name_cont: quote.author.name}), method: :post, class: "search-author" %>
		<% unless quote.book.nil? %>
		<a>, </a><%= link_to quote.book.title, quote_search_path(q: {book_title_cont: quote.book.title}), method: :post, class: "search-title" %>
		<% end %>


		<%= link_to "Created by: " + quote.user.goodreads_name, quote_search_path(q: {user_goodreads_name_cont: quote.user.goodreads_name}), method: :post, class: "search-user" %>

		<div class='quote-options'>
			<button class="share-quote">Share Quote</button>
			<% if logged_in? %>
			<button data-quote-id='<%= quote.id %>' class="add-comment">Add Comment</button>
			<% end %>
		</div>
	</div>
</div>

<div class='quote-comments'>
	Comments
	<%= render partial: "comments/index" %>
</div>