<!-- On the far left, our logo -->
<div class="logo"><span>qu</span><img src='/images/favvy-logo.png'/><span>te</span><span class='munk'>munk</span></div>

<!-- In the middle, search bar -->
<div class="search-bar">
	<%= render partial: "quotes/search" %>
</div>
<!-- On the far right, logging options and nav bar -->
<div class="dashboard">
	<% if logged_in? %>
		<div></div>
		<nav>
			<div class="username"><p><%=current_user.goodreads_name%><p></div>
			<%= button_to "", bookclubs_path, method: :get, class: "nav-bookclubs" %>
			<%= button_to "", home_path, method: :get, class: "nav-notebook" %>
			<%= button_to "", quote_search_path, method: :post, class: "nav-public" %>
			<%= button_to "", favorites_path, method: :get, class: "nav-favorites" %>
			<%= button_to "", "/sign_out", method: :get, class: "nav-signout", title: "Signout" %>
		</nav>
	<% else %>
		<%= button_to "", "/sign_in", method: :get, class: "nav-signin" %>
	<% end %>
</div>



