<%= render partial: "quotes/search" %>

<div class="quotes">
	<ul>
		<% @quotes.each do |quote| %>
		<div class="quote">
			<div>Content: <%= quote.content %></div>
			<div>Title: <%= quote.book.title %></div>
			<div>Author: <%= quote.author.name %></div>
			<div>Created by: <%= quote.user.goodreads_name %></div>
		</div>
		<% end %>
	</ul>	
</div>