<%= render partial: "quotes/search" %>

<div class="quotes">
		<% @quotes.each do |quote| %>
		<div class="quote">
			<div>Content: <%= quote.content %></div>
			<div>Title: <%= quote.book.title %></div>
			<div>Author: <%= quote.author.name %></div>
			<div>Created by: <%= quote.user.goodreads_name %></div>
			<% if logged_in? %>
				<button data-quote-id='<%= quote.id %>' class="add-comment">Add Comment</button>
			<% end %>
		</div>
		<% end %>
</div>