<!DOCTYPE html>
<html>
<head>
  <title>Quipsnap</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= csrf_meta_tag %>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
</head>
<body>
<nav>
	<% if logged_in? %>
    <%= render partial: "users/dashboard" %>
  <% else %>
		<%= render partial: "users/login" %>
	<% end %>
	
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
